:root{
	--base: #f2e9d3;
	--text: #3e442b;
	--blue: #003869;
	--red: #b60028;
	--grey: #999999;
	--green: #32493D;
}

body {
	font-family: 'Merriweather', serif;
	text-align: center; 
	color: var(--text);
	background-color: var(--base);
	margin:0;
	padding:0;
}

main{
	padding-bottom: 500px;
}

h1, h2, h3, h4, h5{
	font-weight: 700;
}

p {
	font-size: 16px;
}

g text{
	font-family: 'Merriweather', serif !important;
}

svg text.label{
	font-size: 12px;
	font-weight: 100;
}

img {
	width: 5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

.modebar{
	display: none !important;
}

a{
	color: var(--text);
	text-decoration: underline;
}

a:hover{
	color: var(--red);
}

#bjump{
	background-color: var(--base);
}

nav{
	text-align: right;
	position: -webkit-sticky; /* Safari */
	top: 0;
	position: sticky;
	padding: 1em 1em;
}

.intro{
	margin: 5rem;
}

.h3{
	font-weight: 700;
	margin: 2em;
}

.side-col{
	padding: 1rem;
}

.main-col{
	padding: 1rem;
}

.left{
	text-align: right;
}

.right{
	text-align: left;
}

.viz{
	width: 100%;
	height: 500px;
}

.scroll-1, .scroll-2, .scroll-3{
	margin: 20em 1em;
	opacity: 0;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
}

#viz-1, #viz-2, #viz-3{
	position: -webkit-sticky;
	position: sticky;
	top: 1px;
}

.active {
	opacity:1;
}

.deactive {
	opacity:0;
}

.description {
	text-align: left;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}

.tab{
	justify-content: flex-start;
	gap: 10px;
}

.tablinks{
	border-radius: 5px;
	flex-grow: 0.5;
}

.tabcontent{
}


#map {
	top:0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	opacity: 1;
	z-index: -5;
}
#header {
	margin: auto;
	width: 100%;
	position: relative;
	z-index: 5;
}
#header h1, #header h2, #header p {
	margin: 0;
	padding: 2vh 2vw;
	text-align: center;
}
#footer {
	width: 100%;
	min-height: 5vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	position: relative;
	z-index: 5;
}
#features {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.centered {
	width: 50vw;
	margin: 0 auto;
}
.lefty {
	width: 33vw;
	margin-left: 5vw;
}
.righty {
	width: 33vw;
	margin-left: 62vw;
}
.fully {
	width: 100%;
	margin: auto;
}
.light {
	color: #444;
	background-color: #fafafa;
}
.dark {
	color: #fafafa;
	background-color: #444;
}
.step {
	padding-bottom: 50vh;
	/* margin-bottom: 10vh; */
	opacity: 0.25;
}
.step.active {
	opacity: 0.9;
}

.step div {
	padding:  25px 50px;
	line-height: 25px;
	font-size: 13px;
}

.step img {
	width: 100%;
}

@media (max-width: 750px) {
	.centered, .lefty, .righty, .fully {
		width: 90vw;
		margin: 0 auto;
	}
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, 
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
}

#tooltip.hidden {
	display: none;
}

#tooltip {
	position: absolute;
	padding: 5px;
	background-color: white;
	border: solid gray 1px;
	border-radius: 5px;
	Z-index:10;
}